@import url(../home/form.css);
@import url(../home/users.css);

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: calc(100vh - 1.5rem);
  grid-template-areas: "main container users-container";
  padding: 0.75rem;
  gap: 1rem;
}

.header {
  max-width: 21rem;
  margin-bottom: 1.5rem;
}

h1 {
  color: var(--text-color-primary);
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  color: var(--text-color-secondary);
  font-size: 0.87rem;
}
